.editor {
  height: 446px;
  min-width: 150px;
  width: 100%;

  text-transform: uppercase;

  vertical-align: bottom;
}

.editor .cursors-layer > .cursor {
	display: none !important;
}

.cpustate {
  background-color: black;
  color: white;
  font-family: monospace;
  border: 1px solid white;
  text-align: center
}

.flag-true {
  color: #c4ffc2;
}

.flag-false {
  color: #ff9a9a
}