

  <div class="col-12 px-0 border">
    <ngx-monaco-editor class="editor" [options]="editorOptions" 
      [(ngModel)]="code" 
      (ngModelChange)="onChange($event)" 
      (onInit)="monacoOnInit($event)"
      [class.hide-cursor]="!isEditing"></ngx-monaco-editor>
    <div class="position-absolute" style="min-width:210px; max-width:210px; right: -16px; bottom: 0;">
      <div class="row">
        <div class="cpustate" style="min-width:30px;">
          PC
        </div>
        <div class="cpustate" style="min-width:30px;">
          C
        </div>
        <div class="cpustate" style="min-width:30px;">
          Z
        </div>
        <div class="cpustate" style="min-width:120px;">
          REGISTERS
        </div>
      </div>
      <div class="row">
        <div class="cpustate" style="min-width:30px;">
          {{state.pc}}
        </div>
        <div class="cpustate" style="min-width:30px;" [ngClass]="state.flags.carry ? 'flag-true' : 'flag-false'">
          {{state.flags.carry ? 'T' : 'F'}}
        </div>
        <div class="cpustate" style="min-width:30px;" [ngClass]="state.flags.zero ? 'flag-true' : 'flag-false'">
          {{state.flags.zero ? 'T' : 'F'}}
        </div>
        <div class="cpustate" style="min-width:30px;" *ngFor="let regVal of state.registers">
          {{regVal}}
        </div>
      </div>
    </div>
  </div>
